body{
    font-family: Arial, Verdana;
    background-color: #000000;
    color: #FFFFFF;
    margin: 20px 20px 0 20px;
}

h1{
    font-size: 42px;
    text-align: center;
    padding: 15px;
    color: #C4C4C4;
}

h2{
    font-size: 30px;
    color: #C4C4C4;
}

p{
    font-size: 24px;
    padding: 10px 0 0 10px;
    color: #C4C4C4;
}

img{
    width: 250px;
    border: 10px dashed #FFFFFF;
    /*
    https://www.w3schools.com/howto/howto_css_image_center.asp
    */
    display: block;
    margin: auto;
}

div{
    min-height: 125px;
    padding: 20px;
    border: 3px solid #FFFFFF;
}

.introduction{
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2;
}

.red{
    background-color: #FF0000;
    text-align: right;
    margin-left: 50px;
    border-bottom-width: 2px;
    border-left-width: 3px;
    border-right-width: 0px;
    border-top-width: 0px;
}

.blue{
    background-color: #0000FF;
    text-align: left;
    margin-right: 50px;
    border-top-width: 2px;
    border-right-width: 5px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    color: #C4C4C4;
}

.yellow{
    background-color: #FFFF00;
    text-align: right;
    margin-left: 50px;
    border-bottom-width: 2px;
    border-left-width: 5px;
    border-top-width: 0px;
    border-right-width: 0px;
}

.yellow > p{
    color: #707070;
}

.green{
    background-color:  #008500;
    text-align: left;
    margin-right: 50px;
    border-right-width: 5px;
    border-top-width: 2px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}

footer{
    border: 5px solid #FFFFFF;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,255,1) 25%, rgba(0,102,255,1) 70%, rgba(0,0,0,1) 100%);
}

footer > p{
    font-size: 20px;
    text-align: right;
    padding: 15px 15px 15px 0;
}